@import url(./fonts.css);
:root{
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --gray700: hsl(0, 0%, 20%);
    --gray800: hsl(0, 0%, 12%);
    --gray900: hsl(0, 0%, 8%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--gray900);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--gray800);
    border-radius: 10px;
    padding: 35px;
    min-width: 320px ;
    scale: 1.3;
}

.personal-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.personal-info img {
    border-radius: 50%;
    width: 80px;
}

.name {
    color: var(--white);
    font-size: 1.3rem;
    font-family: inter-semibold;
    margin: 30px 0 7px 0;
}

.location {
    color: var(--green);
    font-size: .7rem;
    font-family: inter-semibold;
}

.title {
    color: var(--white);
    font-family: inter;
    font-size: .7rem;
    opacity: .6;
    margin: 20px 0 15px 0 ;
}

.links{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.links button {
    background-color: var(--gray700);
    color: var(--white) ;
    font-family: inter-semibold;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.links button:hover{
    background-color: var(--green);
    color: var(--gray900);
}

